.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Bree Serif';
  background-color: #1e293b;
}
.heading {
  color: #f0bb03;
}
.text {
  color: white;
}
.button {
  color: #1e293b;
  background-color: white;
  width: 132px;
  height: 36px;
  border-radius: 10px;
  font-weight: 600;
}
